header,
nav,
footer,
main,
section,
div {
    display: flex;
}

nav {
    background: black;
    padding: 10px;
    justify-content: flex-end;
}

nav a {
    color: white;
}

header {
    background: black;
    justify-content: space-between;
    padding: 30px;
}

header h1 {
    color: darkseagreen;
}

header small {
    color: silver;
}

main {
    min-height: 70vh;
}

footer {
    background: black;
    color: white;
    padding: 20px;
}

div.key, div.value {
    color: dimgray;
    font-size: 25px;
}

div.key {
    justify-content: flex-end;
    width: 50%;
    font-weight: bold;
}

div.value {
    margin-left: 25px;
}

.title {
    font-size: 60px;
    margin-bottom: 25px;
}

.my-row {

}

.my-section {
    background-color: #fff;
    color: black;
    flex-direction: column;
    height: 100vh;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    padding: 100px;
    padding-top: 50px;
    width: 100%;
}

.my-section.light {
    background-color: silver;
}